a._tags:hover {
    color: #253944;
    background: #72c02c;
    text-decoration: none;

}
a._tags{
display:inline-block;
padding:  0.1rem 0.2rem 0.2rem .3rem;
margin: .4em  .2em .2em 0.4em;
font-size: 1.5rem;
font-weight: 400;
line-height: 1.5;
color: #16f;
background-color: #f7f7f7;
text-align: left;
vertical-align: baseline;
border-radius: 50px;
}