a._tags:hover {
    color: #253944;
    background: rgba(132, 250, 111, 0.14);
    text-decoration: none;

}
a._tags{
display: inline;
padding: .2em .4em .6em .0em;
margin: .4em .2em .4em .0em;
font-size: 75%;
font-weight: 700;
line-height: 1;
color: #3338ff;
background-color: rgba(0, 255, 152, 0.09);
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}