<h5>归档</h5>
<!-- 归档 --> 
<!-- regroup 对 dates 按照 year(年份) 分组，把相同年份的月分到一个组 
-->
 {% regroup dates by year as dates_by_year %}
 <ul> 
     {% for mouth in dates_by_year %}
     <!-- month 是一组月份列表 -->
     	<li>
            <a href="{% url 'Artical_time_year'  mouth.grouper  %} ">{{ mouth.grouper }} 年 </a>
        		<!--grouper是组头，即某个月份列表的年份--> 
        		<ul>
        		 {% for d in mouth.list %}
        		  <!-- 再循环显示该年份组下的月份列表即可 -->
        		   <li><a href="{% url 'Artical_time_year_month' mouth.grouper  d|date:'m'   %}"> {{ d |date:'m' }} 月 </a></li>
        		 {% endfor %}
        		</ul> 
        </li>
    {% endfor %}
 </ul>