<!DOCTYPE html>
<html lang="en-us">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    {% block title %} {% endblock %}
    {% include 'Bootstrap_CSS_CDN.html' %}
    {% block static_js %} {% endblock %}
</head>
<body>
    {% block navbar %}
         {% load staticfiles %}
         {% include 'navbar.html' %}
    {% endblock %}
    {% block content %} {% endblock %}
{% include "Bootstrap_JS_CDN.html" %}

</body>

</html>