
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/xadmin">管理员 <span class="sr-only">(current)</span></a></li>

              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">新增文章 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/xadmin/use_ckeditor/article/add/">富文本格式</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/xadmin/markdown/markdownartical/add/">Markdown</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">常用站点链接 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  {% for web in web_list %}
                      <li><a href={{ web.address }} target="_blank">{{ web.name }}</a></li>
                  {% endfor %}
                <li role="separator" class="divider"></li>
                  <li><a href="/xadmin/use_ckeditor/web_link/add/">新增站点</a></li>
              </ul>
            </li>
          </ul>


          <form class="navbar-form navbar-left" action="" method="post">
              {% csrf_token  %}
            <div class="form-group">
              <input type="text" class="form-control" name="keyword" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>


          <ul class="nav navbar-nav navbar-right">

{#            这儿需要对 登陆状态进行检测  然后显示不同的状态  #}

              {% if request.user.is_authenticated %}
                  <li style="padding: 0px ">
                      <a href=""><img width="35px" height="35px" src="{{ MEDIA_URL }}{{ user.image }}"/> &nbsp;{{ user.username  }}</a>
                  </li>
                  {% else %}
                      <li><a href="/login/">登录</a></li>
                      <li><a href="/register/">注册</a></li>
              {% endif %}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>